* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto Mono', sans-serif;
}

html {
    scroll-behavior: smooth;
    text-underline-position: under;
}

body {
    background: linear-gradient(45deg, #e37682, #5f4d93, #f97e8c, #5f4d93);
    background-size: 800% 800%;
    -webkit-animation: bgGradient 59s ease infinite;
    -moz-animation: bgGradient 59s ease infinite;
    -o-animation: bgGradient 59s ease infinite;
    animation: bgGradient 59s ease infinite;
    background-attachment: fixed;
}

.wrapper {
    transition: 1s;
}

.wrapper.hidden {
    opacity: 0;
}

textarea {
    min-height: 100px;
    height: 200px;
    max-height: 200px;
}

nav {
    transition: 0.5s;
}

nav.hidden {
    transform: translateY(-30%) !important;
    opacity: 0;
}

nav ul {
    width: 25rem;
}

nav li {
    padding: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.nav-item a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #01ffd5;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-item a:hover:after {
    width: 100%;
    left: 0;
}

nav a:hover {
    color: #01ffd5 !important;
}

.navbar-brand {
    margin-left: 0.5rem;
}

.section-buttons-container {
    position: sticky;
    top: 90%;
}

.section-buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    transform: translateY(-90%);
    margin-right: 5vw;
    transition: 0.5s;
}

.section-buttons a {
    transition: 0.5s;
}

.section-buttons svg:hover {
    color: #01ffd5;
}

.section-buttons a.hidden {
    opacity: 0;
}

#hero {
    height: 100vh;
}

.hero h1 {
    font-size: 70px;
    font-weight: bold;
}

.hero h2 {
    font-size: 30px;
}

.hero span.animated {
    -moz-animation: rubberBand 1.2s;
    -webkit-animation: rubberBand 1.2s;
    animation: rubberBand 1.2s;
}

.profile-links {
    width: 25% !important;
}

.profile-links div {
    transition: transform 200ms;
    padding: 15px;
    max-width: 70px;
}

.profile-links div:hover {
    transform: scale(1.15);
}

.content section {
    height: 60vh;
}

.content-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    transition: 1s;
}

.content-panel.hidden {
    opacity: 0;
    transform: translateY(10%) !important;
}

.about-me {
    width: 65% !important;
}

.skills svg {
    margin-right: 5px;
    max-height: 3vh;
    max-width: 3vh;
}

.projects-container {
    display: flex;
}

.contact-form {
    width: 50%;
}

.card {
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.44);
    transition: transform 250ms;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.skills p {
    margin: 0 !important;
}

.card-yellow {
    border: #ffde24 !important;
    background-image: url('../images/overlay.png'),
        linear-gradient(45deg, #ffde24 90%, #202020 10%) !important;
}

.card-cyan {
    border: #ffde24 !important;
    background-image: url('../images/overlay.png'),
        linear-gradient(45deg, #2ab0ee 90%, #202020 10%) !important;
}

.dot {
    margin-right: 5px;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

@-webkit-keyframes bgGradient {
    0% {
        background-position: 0% 96%;
    }
    50% {
        background-position: 100% 5%;
    }
    100% {
        background-position: 0% 96%;
    }
}
@-moz-keyframes bgGradient {
    0% {
        background-position: 0% 96%;
    }
    50% {
        background-position: 100% 5%;
    }
    100% {
        background-position: 0% 96%;
    }
}
@-o-keyframes bgGradient {
    0% {
        background-position: 0% 96%;
    }
    50% {
        background-position: 100% 5%;
    }
    100% {
        background-position: 0% 96%;
    }
}
@keyframes bgGradient {
    0% {
        background-position: 0% 96%;
    }
    50% {
        background-position: 100% 5%;
    }
    100% {
        background-position: 0% 96%;
    }
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

@media only screen and (max-width: 1500px) {
    .section-buttons {
        opacity: 0;
    }
}

@media only screen and (max-width: 1000px) {
    .about h5 {
        margin-bottom: 15px;
        font-size: 15px;
    }

    .about-me {
        margin-top: 10px;
        width: 75% !important;
        font-size: 16px !important;
    }

    .skills-header {
        margin-top: 30px;
    }

    .projects-container {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .content section {
        height: 100%;
    }

    #projects small {
        margin: 20px;
        width: 75% !important;
    }

    .contact-form {
        width: 75%;
    }

    .profile-links div {
        padding: 10px;
    }

    .hero h1 {
        font-size: 60px;
    }
    .hero h2 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 760px) {
    .about-me {
        margin-top: 10px;
        width: 100% !important;
        font-size: 16px !important;
    }

    .content h2 {
        font-size: 25px;
    }

    .profile-links {
        height: 60px;
        width: 50% !important;
    }

    .profile-links div {
        padding: 15px;
    }

    .hero h1 {
        font-size: 50px;
    }
    .hero h2 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 420px) {
    .contact-form {
        margin-top: 20px;
    }

    .content p {
        font-size: 13px;
    }

    .contact-form {
        width: 100%;
    }

    .profile-links {
        width: 75% !important;
    }

    .hero h1 {
        font-size: 10vw;
    }
    .hero h2 {
        font-size: 5vw;
    }
}
